<!DOCTYPE html>
<html lang="eng">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Sifatul Anindho - Home</title>
  <link rel="stylesheet"    href="css/main.css">
  <link rel="stylesheet"    href="css/header.css">
  <link rel="stylesheet"    href="css/navbar.css">
  <link rel="stylesheet"    href="css/footer.css">
<!--   <link rel="shortcut icon" href="{{ url_for('static', filename='main/images/favicon.ico') }}">
  {% block extracss %}{% endblock %}
  <script src="{{ url_for('static', filename='main/js/main.js') }}" defer></script> -->
<!--   {% block extrajs %}{% endblock %} -->
</head>

<body>
    <article>
    <!-- The header  -->
    <header class = "header"></header>

    <!-- The navigation bar -->
    <nav class = "navbar">
      <div class = "hw-title">
        <p>Hi, I'm Sifatul Anindho (or just Sifat).</p>
      </div>
      <span class = "menu-icon" onclick="get_menu_list()">&#9776;</span>
      <div class = "links">
        <a id = "home-link" href="/home">Home</a>
        <a id = "resume-link" href="/resume">Resume</a>
        <a id = "project-link" href="/projects">Projects</a>
        <a href="https://www.linkedin.com/in/sifatul-anindho-9645931ab">
          <img src="images/social-linkedin.png" alt="LinkedIn" id="li-icon" loading ="lazy">
      </a>
      </div>
      <div class = "links-list">
        
          <a href="/home">Home</a>
          <br><br>
          <a href="/resume">Resume</a>
          <br><br>
          <a href="/projects">Projects</a>
          <br><br>
          <a href="https://www.linkedin.com/in/sifatul-anindho-9645931ab">LinkedIn</a>
     </div>  
    </nav>

      <!-- The javascript for the feedback button -->
    <script src="{{ url_for('static', filename='main/js/main.js') }}" defer></script>

    <!-- The main content  -->
    <main>
      <div class = "introduction">
          <!-- The left column containing the professional headshot -->
          <div class = "column">
            <img src="images/my_photo.jpeg" alt = "A photo of Sifatul Islam Anindho" loading="lazy">
          </div>
        
          <!-- The right column containing the professional introduction -->
          <div class = "column">
            <p>
              <h1>Little about me... </h1>
              I'm a senior undergraduate student at Michigan State University. My major is Computer Science with a concentration in Business. At Michigan State, I held part-time positions as a Research Assistant and a Teaching Assistant with the CSE department. I will be graduating in June 2024 with a BS in Computer Science.
              <br><br>
              My academic and technical interests are in intelligent systems and artificial intelligence. In the past, I implemented an automatic speech recognition system using a Bi-LSTM model. I also developed a text classification model on Kaggle to predict the sentiment of a collection of Tweets, particularly whether a Tweet is about a disaster. Recently, I collaborated with Whirlpool engineers to build a transformer based recommendation system during my senior design class. I also like mathematics (ewwww), particularly linear algebra, probability and statistics, and received the internationally renowned Outstanding Cambridge Learner's Award in A Level Mathematics back in 2018.
              <br><br>
            </p>
          </div>
      </div>
        
      <!-- Another block of content -->
        <hr>
        <br><br>
      <!-- <div class = "fun-fact">
        <br><br>
        <p>A fun fact about me: <b>{{fun_fact}}</b> </p>
      </div> -->
    </main>

    <!-- The footer of the file -->
    <footer>
        <p>© 2024 Sifatul I. Anindho</p>
    </footer>

    </article>
  
</body>

</html>








