<!DOCTYPE html>
<html lang="eng">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Sifatul Anindho - Home</title>
  <link rel="stylesheet"    href="css/main.css">
  <link rel="stylesheet"    href="css/header.css">
  <link rel="stylesheet"    href="css/navbar.css">
  <link rel="stylesheet"    href="css/footer.css">
<!--   <link rel="shortcut icon" href="{{ url_for('static', filename='main/images/favicon.ico') }}">
  {% block extracss %}{% endblock %}
  <script src="{{ url_for('static', filename='main/js/main.js') }}" defer></script> -->
<!--   {% block extrajs %}{% endblock %} -->
</head>

<body>
    <article>
    <!-- The header  -->
    <header class = "header"></header>

    <!-- The navigation bar -->
    <nav class = "navbar">
      <div class = "hw-title">
        <p>Hi, I'm Sifatul Anindho (or just Sifat).</p>
      </div>
      <span class = "menu-icon" onclick="get_menu_list()">&#9776;</span>
      <div class = "links">
        <a id = "home-link" href="/index">Home</a>
        <a id = "resume-link" href="/academic_cv.pdf">Resume</a>
        <a id = "project-link" href="/projects">Projects</a>
        <a href="https://www.linkedin.com/in/sifatul-anindho-9645931ab">
          <img src="images/social-linkedin.png" alt="LinkedIn" id="li-icon" loading ="lazy">
      </a>
      </div>
      <div class = "links-list">
        
          <a href="/index">Home</a>
          <br><br>
          <a href="/academic_cv.pdf">Resume</a>
          <br><br>
          <a href="/projects">Projects</a>
          <br><br>
          <a href="https://www.linkedin.com/in/sifatul-anindho-9645931ab">LinkedIn</a>
     </div>  
    </nav>
    
    <!-- The main content  -->
    <main></main>
    
      <!-- The javascript for the feedback button -->
    <script src="js/main.js" defer></script>


       <!-- The footer of the file -->
       <footer>
        <p>© 2024 Sifatul I. Anindho</p>
    </footer>

    </article>
  
</body>

</html>
